*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(315deg, #cde4e7 0%, #9fa4c4 80%);
}
.wrapper{
    margin: 120px auto;
    max-width: 400px;
    width: 100%;
    background: whitesmoke;
    border-radius: 5px;
    padding: 25px;
}
.wrapper header {
    font-size: 30px;
    font-weight: 600;
    line-height: 1.8;
}
.wrapper .inputField{
    display: flex;
    width: 100%;
    height: 40px;
    margin: 13px 0 20px 0;
}
.inputField input:first-child{
    width: 85%;
    border: solid 1px rgb(194, 191, 191);
    height: 100%;
    font-size: 16px;
    padding-left: 14px;
    border-radius: 3px;
    box-shadow: 0px 6px 10px -6px rgba(65, 62, 62, 0.59);
    outline: none;
    
}
.time{
    width: 15%;
    border: solid 1px rgb(194, 191, 191);
    height: 100%;
    font-size: 10px;
    /* padding-left: 14px; */
    border-radius: 3px;
    box-shadow: 0px 6px 10px -6px rgba(65, 62, 62, 0.59);
    outline: none;
    text-align: center;
    
}

.inputField button{
    width: 10%;
    margin-left: 4px;
    height: 100%;
    outline: none;
    border: none;
    background-color:#818ac0 ;
    color: whitesmoke;
    box-shadow: 0px 6px 10px -6px rgba(65, 62, 62, 0.59);
    font-size: 18px;
    border-radius: 3px;
    cursor: pointer;
    opacity: 1;
    pointer-events: auto;
}
.inputField button.active{
    opacity: 1;
    pointer-events: auto;
}
.toDoItem{
    margin-top: 10px;
    width: 97%;
    height: 40px;
    line-height: 40px;
    border-radius: 4px;
    color: black;
    display: flex;
    justify-content: space-between;
    padding: 0px 0px 0px 14px ;
    /* position: relative; */
    /* 
    /* flex-direction: row;
    text-align: center;
    justify-content: space-between; */ 
}

.trash{
    outline: none;
    border: none;
    width: 40px;
    background-color: red;
    border-radius: 4px;
    display: block;
    cursor: pointer;
}
.backColor{
    background: #e0dddd;
}
.done{
    background: rgb(112, 163, 112);
    text-decoration: line-through;
}
.late{
    background: rgb(226, 106, 106);
}
.toDoItem span {
    font-size: 16px;
    /* position: absolute; */
    margin: 0px 15px;
    cursor: default;
}

footer{
    width: 100%;
    margin-top:20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.clear{
    width: 80px;
    margin-left: 4px;
    height: 30px;
    padding: 5px;
    outline: none;
    border: none;
    background-color:#818ac0 ;
    color: whitesmoke;
    box-shadow: 0px 6px 10px -6px rgba(65, 62, 62, 0.59);
    font-size: 11px;
    border-radius: 3px;
    cursor: pointer;
    display: none;
}
.buttonApperance{
    display: block;
}